{{define "Aventurier"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golanta</title>
    <link rel="stylesheet" href="../static/css/global.css">
</head>
<body>
    {{range .}}
                {{if eq .Id .Id}}
                    {{.LastName}}
                    {{.FirstName}}
                    {{.Age}}
                    {{.Team}}
                    {{.Sexe}}
                {{end}}
        <form class="form" action="/treatment_to_modif?id={{.Id}}" method="post">
            <input class="form-submit" type="submit" value="Treatment_to_modif" />
        </form>
    {{end}}
</body>
</html>
{{end}}