:root {
  --gris-background: #3f3f3f;
  --vert-foncé: #1f4536;
  --vert-clair: #2a5d4a;
  --vert-background: #183833;
  --vert-turquoise: #1d5d5a;
  --jaune-typo: #deaf00;
  --jaune-foncé: #be9c13;
  --blanc-typo: #ffffff;
  --blanc-bleuté: #deeef5;
  --blanc-blouté: #c4dde7;
  --bleu-clair-moins: #7bcfb3;
  --bleu-clair: #0083a0;
  --bleu-moyen: #1d485c;
  --bleu-foncé: #092330;
  --bg-vide-40: url(../images/bg-vide.png);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Black";
  src: url(../font/Roboto-Black.ttf);
}

* {
  font-family: "Roboto-Regular";
}

body {
  background-color: var(--vert-background);
}
